**/*.pyc
**/*.dump
**/*.backup
**/*.retry
**/*.log
**/*.egg-info
**/.DS_Store
**/.pytest_cache
**/.vscode
**/*.git
**/node_modules
/.*

**/__pycache__

/src/
/docs/
/provision/
/tests/
/test-reports/
/public/media/

/src/frontend/
/var/

/facts.json
/requirements*.in
/Dockerfile*
/docker-compose.*
.env